*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    cursor: pointer;
    color: inherit;
  }
  
  a, a:hover, a:focus {
    text-decoration: none;
    outline: 0;
    -moz-outline: 0;
    color: inherit;
  }
  
  button, button:hover, button:focus, .btn:focus, .btn:active:focus {
    outline: 0;
    -moz-outline: 0;
  }
  
  button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }
  
  .reset-ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  textarea {
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 40px;
  }
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, p, dt, dd {
    padding: 0;
    margin: 0;
  }
  
  b, dt, h1, h2, h3, h4, h5 {
    font-family: "Montserrat bold";
    font-weight: normal;
  }
  
  body, html {
    height: 100%;
  }
  
  body {
    background: var(--body-bg-color);
    font-family: "Montserrat", sans-serif;
    font-size: var(--16-text);
    min-width: 320px;
    color: var(--text-color);
  }
  
  header {
    flex: 0 0 auto;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer {
    flex: 0 0 auto;
  }