/* @font-face {
	font-family: "Montserrat";
	src: url(../../assets/fonts/Montserrat-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: "Montserrat bold";
	src: url(../../assets/fonts/Montserrat-Bold.ttf);
	font-display: swap;
} */

:root {
	scroll-behavior: inherit;

	--border-radius-24: 24px;
	--border-radius-18: 18px;
	--border-radius-16: 16px;
	--border-radius-main: 8px;

	--page-gap: 80px;

	--main-color: #3271D2;
	--main-color-hover: #1c57af;
	--accent-color: #132E57;
	--accent-color-hover: #132E57;

	--second-color: #727477;
	--second-light-color: #DDDEE0; 
	--text-color: #57595D;
	--body-bg-color: #fff; 

	--shadow: 8px 8px 15px 0px rgba(0,0,0,.1);
	--shadow-xs: 0px 3px 6px 0px #0000000A;
	--shadow-md: 0px 10px 20px 0px #0000000F;
	--shadow-main-color: 0px 10px 20px 0px #3271D226;
}

