@font-face {
    font-family: 'Comfortaa-SemiBold';
    src: url('../../../../public/assets/fonts/Comfortaa-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../../../../public/assets/fonts/Rubik-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('../../../../public/assets/fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}